[submodule "vim/dotvim/bundle/ctrlp.vim"]
	path = vim/dotvim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim.git
[submodule "vim/dotvim/bundle/nerdcommenter"]
	path = vim/dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/dotvim/bundle/nerdtree"]
	path = vim/dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/dotvim/bundle/quick-scope"]
	path = vim/dotvim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/dotvim/bundle/rainbow"]
	path = vim/dotvim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/dotvim/bundle/Spacegray.vim"]
	path = vim/dotvim/bundle/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "vim/dotvim/bundle/syntastic"]
	path = vim/dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/dotvim/bundle/vim-airline"]
	path = vim/dotvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/dotvim/bundle/vim-css-color"]
	path = vim/dotvim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim/dotvim/bundle/vim-surround"]
	path = vim/dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim.git
[submodule "dotvim/bundle/ctrlp.vim"]
	path = dotvim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim.git
[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/quick-scope"]
	path = dotvim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "dotvim/bundle/rainbow"]
	path = dotvim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "dotvim/bundle/Spacegray.vim"]
	path = dotvim/bundle/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotvim/bundle/vim-css-color"]
	path = dotvim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "dotvim/bundle/vim-surround"]
	path = dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/indentLine"]
	path = dotvim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "dotvim/bundle/vim-mustache-handlebars"]
	path = dotvim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotvim/bundle/PHP-Indenting-for-VIm"]
	path = dotvim/bundle/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "dotvim/bundle/fzf.vim"]
	path = dotvim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "dotvim/bundle/vim-windowswap"]
	path = dotvim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
